#myProfile-profilePic {   
  margin-left: 20px;
  margin-top: 23px;

}
#bkg {
    display: flex;
}
.container {
    margin-top: 30px;
    position: relative;
}
#aboutMe {
  text-align: center;
  border: solid black 1px;
  
}
#cal {
  text-align: center;
}